.bp {
  background-image: url('../images/bp.png');
  background-size: 10vh;
  cursor: pointer;
}
.bn {
  background-image: url('../images/bn.png');
  background-size: 10vh;
  cursor: pointer;
}
.bb {
  background-image: url('../images/bb.png');
  background-size: 10vh;
  cursor: pointer;
}
.br {
  background-image: url('../images/br.png');
  background-size: 10vh;
  cursor: pointer;
}
.bk {
  background-image: url('../images/bk.png');
  background-size: 10vh;
  cursor: pointer;
}
.bq {
  background-image: url('../images/bq.png');
  background-size: 10vh;
  cursor: pointer;
}
.wp {
  background-image: url('../images/wp.png');
  background-size: 10vh;
  cursor: pointer;
}
.wn {
  background-image: url('../images/wn.png');
  background-size: 10vh;
  cursor: pointer;
}
.wb {
  background-image: url('../images/wb.png');
  background-size: 10vh;
  cursor: pointer;
}
.wr {
  background-image: url('../images/wr.png');
  background-size: 10vh;
  cursor: pointer;
}
.wk {
  background-image: url('../images/wk.png');
  background-size: 10vh;
  cursor: pointer;
}
.wq {
  background-image: url('../images/wq.png');
  background-size: 10vh;
  cursor: pointer;
}

